@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vw: 100vw;
}

input {
  font-size: 1rem !important;
}

summary::-webkit-details-marker {
  display: none;
}

body {
  background-color: white !important;
}

.sb-show-main.sb-main-padded {
  padding: 0;
}

button[data-active="true"] {
  background-color: #1400ff;
  color: #fff;
}

@-moz-document url-prefix() {
  .grid-rows-subgrid {
    overflow: hidden;
  }
}
